body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #000000;
    color: #fff;
}

#gameCanvas {
    position: relative;
    width: 400px;
    height: 500px;
    background-color: #000000;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #555;
}

#player {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #2ecc71;
    border-radius: 5px;
}

#enemy {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #e74c3c;
    border-radius: 50%;
}

#scoreBoard {
    font-size: 1.5rem;
    margin-top: 15px;
}